.navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(33, 30, 28, 1);

}

.navbar-mobile {
    display: none;
}

.mobileNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  position: fixed;
    z-index: 1000;
    width: 100%;
backdrop-filter: blur(30px);
    background-color:rgba(28, 26, 23, 0.3);

}

.mobileSaidbarButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgba(214, 184, 141, 1);
    box-shadow: 0px 0px 10px 2px rgba(184, 164, 142, 0.4);
    gap: 0.5rem;
}

.mobileSaidbarMenu {
    position: absolute;
    width: 19rem;
    background-color: rgba(33, 30, 28, 1);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    z-index: 1000;
    transform: translateX(0px);
    transition: all 1s ease-in-out;
    align-items: center;
    border-bottom-right-radius: 4px;
}



.mobileSaidbarClose {
    position: absolute;
    top: 20px;
    left: 20px;
}

.MobileMenu {
    transform: translateX(-30rem);
}

.mobileTopSaidbarMenu {
    display: flex;
    align-items: center;
    gap: 4.25rem;
    margin-bottom: 0.62rem;
    margin-top: -10px;
}

.mobileSaidbarButton div {
    width: 1.25rem;
    height: 0.1rem;
    border-radius: 2px;
    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);
}

.mobileSaidbarButton div:nth-of-type(even) {
    width: 0.87rem;
}

.topNavbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topNavbar img {
    margin-right: 10px;
}

.topNavbar ul {
    display: flex;
    gap: 7vw;
}

.botomNavbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.botomNavbar ul {
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.catalogWrapper {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    margin-left: 1.75rem;
}

.navbarButton {
    margin: 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(184, 164, 142, 0.4);
}

.mobileNavbarBlock {
    width: 100%;
}

.mobileNavbarBlock li {
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.78rem;
}

.mobileNavbarButton {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    align-items: center;
    gap: 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(184, 164, 142, 0.4);
}

.mobileNavbarBlockMenuText:hover{
     background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.mobileCatalogMenu {
    background-color: rgba(43, 40, 37, 1);


    width: 100%;
    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.mobileCatalogMenu:hover {
    color: black;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #000;
    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);

}

.catalogNavbar {
    color: black;
    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);
}

.menuCatalog {

    position: absolute;
    width: 100%;
    display: flex;
    z-index: 2;
}

.menuCatalog ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.menuCatalog ul li {
    width: 100%;

}

.menu {
    background-color: #211E1C;
    color: #BEAE97;

    width: 100%;
}

.menu:hover {
    color: black;

    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);

}

.input {
    display: flex;
    margin: 1rem 0;
    margin-right: 1.75rem;
    width: 60vw;
    background-color: rgba(18, 17, 15, 1);
    border: 1px solid rgba(81, 73, 65, 1);
    box-shadow: 0px 0px 10px 2px rgba(160, 149, 133, 0.2);
    height: 3rem;
    border-radius: 4px;
    color: rgba(134, 122, 104, 1);
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.25rem;

}

.input input {
    width: 90%;
    border: none;
    outline: none;
}

.input input:focus {
  outline: none;
  box-shadow: none;
}

.navbar-cart-wrap {
  position: relative;
}

.navbar-cart-wrap a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar-cart-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  min-width: 18px;
  height: 18px;
  padding: 0 4px;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: #1C1A17;
  background: linear-gradient(144deg, rgba(192, 158, 108, 1), rgba(255, 235, 204, 1), rgba(191, 147, 107, 1));
  border-radius: 9px;
}

@media (max-width: 1024px) {
    .input {
        width: 55vw;

    }

    .topNavbar ul {

        gap: 6vw;
    }

    .navbar {

        padding: 1rem 2rem;


    }
}

@media (max-width: 768px) {
    .input {
        width: 40vw;

    }

    .topNavbar ul {

        gap: 5vw;
    }

}

@media(max-width:480px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }


}