.navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(33, 30, 28, 1);
 
}

.topNavbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topNavbar img {
    margin-right: 10px;
}

.topNavbar ul {
    display: flex;
    gap: 6.56rem;
}

.botomNavbar {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.botomNavbar ul {
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.catalogWrapper {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    margin-left: 1.75rem;
}

.navbarButton {
    margin: 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(184, 164, 142, 0.4);
}

.catalogNavbar {
    color: black;
    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);
}

.menuCatalog {

    position: absolute;
    width: 100%;
    display: flex;
    z-index: 2;
}

.menuCatalog ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.menuCatalog ul li {
    width: 100%;

}

.menu {
    background-color: #211E1C;
    color: #BEAE97;

    width: 100%;
}

.menu:hover {
    color: black;

    background-image: linear-gradient(to right, #C09E6C, #FFEBCC, #BF936B);

}

.input {
    display: flex;
    margin: 1rem 0;
     margin-right: 1.75rem;
    width: 54.68rem;
    background-color: rgba(18, 17, 15, 1);
    border: 1px solid rgba(81, 73, 65, 1);
    box-shadow: 0px 0px 10px 2px rgba(160, 149, 133, 0.2);
    height: 3rem;
    border-radius: 4px;
    color: rgba(134, 122, 104, 1);
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.25rem;

}
.input input {
    width: 90%;
        border: none;
    outline: none;
}
.input input:focus {
    outline: none;
    box-shadow: none;
}